
<!DOCTYPE html>
<html lang="en" class="has has-background-info-dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
</head>
<!-- Nav Bar -->

  <header>
    <div class="navbar is-white p-5 ">
      
      <div class="">
          <button class="button is-info" id="homeBtn">Home</button>
          <button class="button" id="childListBtn">Child List</button>
          <button class="button" id="addChildBtn">Add Child</button>
      </div>
        <div class="navbar-end">
          <button class="button is-danger is-outlined" id="signOutBtn">Sign Out</button>
        </div>
  </div>
</header>
<body>

  <div class="has-text-black is-size-2 gradientText ml-4">
    <p>Hello, {{Name}}!</p>
  </div>
  <div class="has-background-white centered level-left">
  <div class="">
    <img class="hero" src="img/images.jpg"> 
  </div>
  <div class="ml-6">
    <p class="is-size-3">Let's make sure today is <i>fantastic!</i></p>
  </div>
</div>
<div class="has-background-white centered level-right">
<div class="is-size-3 mr-6"> 
  <p>Everyone is important!</p>
</div>
<div>
  <img class="hero" src="img/Daycare_logo.jpg" alt="Daycare Image">
</div>
</div>
<div class="has-background-white centered level-left">
  <div class="is-size-3 ml-3"> 
    <p>It takes a big heart to help shape little minds!</p>
  </div>
  <div>
    <img class="hero" src="img/Group.jpg" alt="Daycare Image">
  </div>
  </div>

  

</body>
</html>
