<!DOCTYPE html>
<html lang="en" class="has-background-info-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student DayCare</title>
    <link rel="stylesheet" href="style.css">
    {{!<link rel="stylesheet" href="../node_modules/bulma/css/bulma.css">}}
    
</head>
<body>
<header>
</header>

<div class="centered  has-text-black transformName is-size-1 gradientText">
<h1>School name</h1>
</div>
<div class="row">
<div class="col-md-6">
        <h2>Login</h2>

        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
            </div>
        </form>
    </div>
      <div class="is-pulled-right transformImg">
        <img src="img/daycare_logo.png" alt="Cartoon children playing" style="float: right">
      </div>
       <div class="col-md-6">
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
    </div>
    </div> 
    

  
  

</div>
</form>



    
</body>
</html>

<script src="./js/login.js"></script>