<!DOCTYPE html>
<html lang="en" class="has-background-info-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student DayCare</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../node_modules/bulma/css/bulma.css">
    
</head>
<body>
<header>
</header>

<div class="centered  has-text-black transformName is-size-1 gradientText">
<h1>School name</h1>
</div>
<div class="centered">
<form class="is-rounded box m-6 column is-one-third height">
    <div class="field">
      <label class="label">User Name</label>
      <div class="control">
        <input class="input column is-6" type="text" placeholder="">
      </div>
    </div>
  
    <div class="field ">
      <label class="label">Password</label>
      <div class="control">
        <input class="input column is-6" type="password" placeholder="********">
      </div>
      <div class="is-pulled-right transformImg">
        <img src="img/Daycare_logo.jpg" alt="Cartoon children playing">
      </div>
      <button class=" my-3 button is-info">Sign in</button>
    </div>
</div>
  
  </form>

</div>
</form>



    
</body>
</html>