
<h1>{{data.child.name}}</h1>
<h2>Allergy</h2>

  <ul>
   
      <li>{{data.allergy.name}}</li>
   
  </ul>

<div class="col-md-6">
  <h2>Add an Allergy</h2>

    <form class="form signup-form">

      <div class="form-group">
        <label for="allergy-signup">Allergy:</label>
        <input class="form-input" type="text" id="allergy-signup" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>

    </form>

</div>

