<!DOCTYPE html>
<html lang="en" class="has-background-info-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student DayCare</title>
    <link rel="stylesheet" href="style.css">
    
    
</head>
<body>


<div class="centered  has-text-black transformName is-size-1 gradientText">
<h1>School name</h1>
</div>
<div class="centered">
    <div class="level-left">
        <h2>Login</h2>
    </div>

        <form class="is-rounded box m-6 column is-one-third height">
            <div class="field">
                <label class="label" for="email-login">Email:</label>
                <div class="control">
                    <input class="input column is-6" type="text" id="email-login" />
                </div>
            </div>

            <div class="field">
                <label class="label" for="password-login">Password:</label>
                <div class="control">
                    <input class="input column is-6" type="password" id="password-login" />
                </div>
            </div>
           <div class="is-pulled-right transformImg">
        <img src="img/Daycare_logo.jpg" alt="Cartoon children playing">
            </div>
                <button class="my-3 button is-info" type="submit">login</button>
        </form>
        <div class="level-left">
        
        <h2>Signup</h2>
        </div>
    <div class="centered">

        <form class="is-rounded box m-6 column is-one-third height">
            <div class="field">
                <label class="label" for="name-signup">Name:</label>
                <div>
                <input class="form-input" type="text" id="name-signup" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="email-signup">Email:</label>
                <div>
                <input class="form-input" type="text" id="email-signup" />
                </div>
            </div>
            <div class="field">
                
                <label class="label" for="password-signup">Password:</label>
                <div class="control">
                <input class="input column is-6" type="password" id="password-signup" />
                </div>
            
                <button class="my-3 button is-info" type="submit">Signup</button>
            
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>